.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    min-height: 30vh;
    color: lightslategray;
}
.title{
    color: black !important;
    font-size: 1.6rem;
}
.image{
    border-radius: 50%;
    width: 300px;
    height: auto;
}
.caution{
    color: red !important;
}
.diet{
    color:yellowgreen !important;
}
.health{
    color: green !important;
}
.calories{
    color: orangered;
}